.signup {
  background-color: #eef1f5;
  height: 100vh;
  padding-top: 40px;
}
.signup__body {
  margin-left: auto;
  background-color: #fff;
  width: 65%;
  margin-right: auto;
  height: 500px;
}

.signup__lock {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lock__container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #dc291e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock__container .MuiSvgIcon-root {
  color: white;
}
.signup__lock h3 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 400;
}
.signup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding-top: 20px;
  background-color: #f7f7f7;
  text-align: center;
}
.signup-item {
  text-align: left;
  margin-bottom: 10px;
}

.signup-item input {
  width: 300px;
  height: 35px;
  border: 0.4px solid gray;
  padding-left: 10px;
  margin-top: 5px;
}
.signup-item input:focus {
  outline: none;
}

.signup-item span {
  color: #dc291e;
}
.signup-item p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
}
.signup__content button {
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: #dc291e;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}
.signup__content button:hover {
  background-color: #c71a0a;
}

.signup__create {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.signup__create p {
  margin-top: 20px;
  margin-right: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.signup__create button {
  width: 100px;
  background-color: #eaeaea;
  color: gray;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.signup__create button:hover {
  background-color: #c7c7c7;
}

@media screen and (max-width: 480px) {
  .signup__body {
    width: 80%;
  }
}
